* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



:root {
    --white: #ffffff;
    --black: #000;
    --very-light-black: #777777;
    --very-light-pink: rgb(255, 207, 215);
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px; /*Esos Sm, md y LG son para los textos en un futuro y seran variables que se llaman con var() */
    --md: 18px;
    --lg: 20px

}

body {
    font-family: 'Lobster Two', cursive;
    display: flex;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.form-container-solid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    padding: 4px;
    border: solid;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: inline;
}

.title {
    font-size: var(--lg);
    margin-bottom: 27px;
    text-align: center;
}
.title-two {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: start;
    border: solid;
    padding: 4px;
}

.subtitle {
    color: var(--very-light-black);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}
.form div {
    display: flex;
    flex-direction: column;
}

.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.form-solid {
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 4px;
}
.form-solid div {
    display: flex;
    flex-direction: column; 
}
.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}

.put-solid {
    border: solid;
    padding: 4px;
}


.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.label-solid {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    padding: 4px;
    border: solid;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    border-color: #3c3c3c;
    height: 32px;
    font-size: var(--md);
    padding: 4px;
    margin-bottom: 12px;
}
.input-name,
.input-password,
.input-email {
    margin-bottom: 22px;
}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email-image img {
    width: 80px;
}

.value {
    color: var(--very-light-black);
    font-size: var(--md);
    margin: 8px 0px 32px 0px;
    padding: 4px;
    border: solid;
}

.resend {
    font-size: var(--sm);
}
.resend span {
    color: var(--very-light-black);
}
.resend a {
    color: var(--hospital-green);
    text-decoration: none;   
}
.form-container-two {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 17px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 47px;
}
.secondary-button {
    background-color: var(--white);
    border-radius: 17px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 47px;
}
.secondary-button-solid {
    background-color: var(--white);
    border-radius: 17px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 47px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .logo {
        display: block;
    } 
    .secondary-button {
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
    .form {
        height: 100%;
        justify-content: space-between;
    }
}



