* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}


:root {
    --white: #ffffff;
    --black: #



    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;

}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}